---
import Layout from '../../../layouts/Layout.astro'
const title = '問い合わせ完了'
const description =
	'フォームの送信が完了しました。ご入力いただいた内容を確認のうえ、こちらからお返事させていただきます。'
---

<Layout title={title} description={description}>
	<div class="flex-grow mx-auto my-10">
		<div class="grid gap-8">
			<p>
				送信が完了しました。<br />
				お問い合わせありがとうございます。
			</p>
			<div class="text-center">
				<a href="/" class="underline md:hover:no-underline">トップページへ戻る</a>
			</div>
		</div>
	</div>
</Layout>

<style></style>
