---
import Layout from '../../../layouts/Layout.astro'
---

<Layout title="問い合わせ完了">
	<div class="flex-grow mx-auto my-10">
		<div class="grid gap-8">
			<p>
				送信が完了しました。<br />
				お問い合わせありがとうございます。
			</p>
			<div class="text-center">
				<a href="/" class="underline md:hover:no-underline">トップページへ戻る</a>
			</div>
		</div>
	</div>
</Layout>

<style></style>
