---
import Layout from '../layouts/Layout.astro'
import Image from 'astro/components/Image.astro'

import { getBlogs } from '../library/microcms'
const response = await getBlogs()
---

<Layout title="シミティーブログ">
	<main class="flex-grow mx-auto">
		<ul class="flex justify-center flex-col gap-8">
			{
				response.contents.map((content: any) => (
					<li class="text-center">
						<a href={content.id} class="md:hover:opacity-70">
							<Image src={content.src.url} alt={content.title} width={1200} height={630} class="mb-2" />
							<span class="text-xl font-semibold">{content.title}</span>
						</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
<style>
	main {
		padding: 1em;
		max-width: 60ch;
	}
</style>
