---

---

<script>
	const hamburger = document.querySelector('.hamburger')
	if (hamburger) {
		hamburger.addEventListener('click', () => {
			const navLinks = document.querySelector('.nav-links')
			if (navLinks) {
				navLinks.classList.toggle('expanded')
			}
		})
	}
</script>
<div class="hamburger cursor-pointer md:hover:opacity-50">
	{[...Array(3)].map(() => <span class="block w-8 h-1 mb-2 rounded-lg bg-gray-700" />)}
</div>

<style></style>
