---
import Hamburger from './Hamburger.astro'
import Navigation from './Navigation.astro'
---

<header class="p-4 grid gap-4">
	<div class="grid grid-cols-[1fr_2fr_1fr]">
		<div class="col-start-2 justify-self-center text-xl font-semibold">シミティーブログ</div>
		<div class="col-start-3 justify-self-end">
			<Hamburger />
		</div>
	</div>
	<Navigation />
</header>
