---
const links = [
	{ href: '/', text: 'ホーム' },
	{ href: '/about/', text: '概要' },
	{ href: '/policy/', text: 'プライバシーポリシー' },
	{ href: '/contact/', text: '問い合わせ' },
]
const currentPath = Astro.url.pathname
console.log({ currentPath })
---

<nav class="nav-links hidden">
	<ul class="grid text-center gap-4">
		{
			links.map((link) => (
				<li>
					{currentPath === link.href ? (
						<span>{link.text}</span>
					) : (
						<a href={link.href} class="underline md:hover:no-underline">
							{link.text}
						</a>
					)}
				</li>
			))
		}
	</ul>
</nav>

<style>
	.expanded {
		display: unset;
	}
</style>
