---
import Layout from '../../layouts/Layout.astro'
import { getPagesInfo } from '../../library/microcms'

const blogId = 'privacy-policy'

const blog = await getPagesInfo(blogId as string)
---

<Layout title="プライバシーポリシー">
	<main>
		<h1 class="text-xl text-center font-semibold mb-4">{blog.title}</h1>
		<div class="content-wrapper">
			<div set:html={blog.content} />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
	.content-wrapper {
		p {
			margin: 8px 0;
			font-size: 14px;
		}
		a {
			color: #222;
		}
	}
</style>
